[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
django = "===3.5"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
